:root {
    --primary-color: #85E3FF;
    --secunday-color: #D73530;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
.logo {
    width: 6.5rem;
}
.contenedor {
    align-items: center;
    background-color: #85E3FF;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid gray;
}
.links {
    list-style: none;
    color: black;
    text-decoration: none;
}
li {
    list-style: none;
    display: inline-block;
    padding-right: 2rem;
    font-size: 1.7rem;
}
a:hover {
    color: #22229a;
}