body {
    margin: 200px auto;
    text-align: center;
    background-color:  hsl(91, 64%, 49%);
}
p {
    font-size: 1.2rem;
}
#movimiento {
    background-color: hsl(91, 64%, 49%);
    animation-name: cuadrado;
    animation-duration: 6s;
    animation-delay: .5s;
    position: relative;
    animation-iteration-count: infinite;
    display: inline-block;
}
@keyframes cuadrado {
    0% {left: 0;top: 0;}
    25% {background-color: rgb(53, 212, 14);}
    50% {background-color: rgb(32, 218, 15);}
    75% {background-color: rgb(25, 206, 49);top: 150px;}
    100% {background-color: hsl(91, 64%, 49%);left:0;top:0;}
}