li {
    padding-right: 2rem;
}
h1 {
    margin-bottom: 120px;
    font-size: 3rem;
}
.img {
    padding: 20px 0;
    border-radius: 70px;
    width: 60%;
}
.box {
    margin: 5% 25%;
    text-align: justify;
    font-size: 2rem;
}
.text-near-to-img {
    padding-bottom: 10px;
}